<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593584524945-13et8inog1a9bt5pdqdkv2k6dnukcd6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593584524945-13et8inog1a9bt5pdqdkv2k6dnukcd6l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>593584524945-vbep8ssjm14vaadq5ldipv05uo5tc2su.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkQp1akAAM_4T8iuiQK7tlLVyaVDGBbMU</string>
	<key>GCM_SENDER_ID</key>
	<string>593584524945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhishekwagh.tracko</string>
	<key>PROJECT_ID</key>
	<string>tracko-401e2</string>
	<key>STORAGE_BUCKET</key>
	<string>tracko-401e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593584524945:ios:0d77c81a70957170e87930</string>
	<key>DATABASE_URL</key>
	<string>https://tracko-401e2.firebaseio.com</string>
</dict>
</plist>